/*
    Document   : scaffold
    Created on : 13 March 2011, 19:17:49
    Author     : Stephen Law
    Description:
        Default rails stylesheet, handles error checking and forms.
*/

body {
    background: #b0d8f9;
    color: #333333;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

form {
    width: 700px;
    margin: 0 auto;
}

form.new_email {
    width: 300px;
    margin: 0 auto;
}

form.new_post, form.edit_post {
    width: 650px;
    margin: 0 auto;
}

form.new_user_session {
    width: 450px;
    margin: 0 auto;
}

form.edit_user, form.new_user {
    width: 700px;
    margin: 0 auto;
}

label {
    display: block;
    margin-left: 15px;
    width: 5em;
    float: left;
    text-align: left;
    white-space: nowrap;
}

input {
    width: 400px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

form.new_user input {
    width: 300px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;    
}

form.edit_user input {
    width: 300px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;    
}

form.new_user_session input {
    width: 300px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

input#email_email {
    width: 300px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

#user_session_submit {
    width: 100px;
}

#user_submit {
    width: 100px;
}

#post_submit {
    width: 100px;
}

#email_submit {
    width: 100px;
}

#search_submit {
    width: 100px;
    float: right;
}

textarea {
    width: 400px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

div.field, div.actions {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    text-align: center;
    font-size: 12px;
    color: #000000;
    list-style: square;
}


/*
    Document   : newCascadeStyleSheet
    Created on : 14 March 2011, 20:51:18
    Author     : Stephen Law
    Description:
        Divs, Links and Misc Styles.
*/

/* CSS for divs in order of appearance */
div {
    display: block;
    margin: 0 auto;
/*  border: 1px dashed #000000; */
}

/* Nav + Banner Div height = header height */
div.header {
    width: 100%;
    height: 230px;
    background: #153766 url(../images/navbg.jpg) repeat-x;
}

div.logo {
    float: left;
}

div.nav {
    width: 1024px;
    height: 80px;
}

div.socialbox {
    width: 320px;
    height: 80px;
    padding-top: 10px;
    text-align: left;
    float: left;
}

div.links {
    width: auto;
    height: 80px;
    color: #FFFFFF;
    text-align: right;
    padding-top: 10px;
}

div.rss {
    width: 80px;
    height: 80px;
    float: right;
    font-size: 10px;
    text-align: center;
}

div.banner {
    width: 1024px;
    height: 150px;
    color: #FFFFFF;
    text-align: left;
}

div#fbarrow {
    width: 700px;
    background: url("/images/likeus.png") no-repeat;
    height: 50px;
    margin-left: 240px;
}

div.searchbg {
    width: 100%;
    background: #ffffff;
}

div.search {
    width: 1024px;
    height: 20px;
    padding: 15px;
}

div.container {
    width: 1024px;
    min-height: 40em;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

div.rendered {
    font-size: 10px;
    clear: both;
}

div.footer {
    width: 100%;
    height: 200px;
    background: #000000;
    color: #FFFFFF;
    border-top: 3px solid #CCCCCC;
}

div.footercontainer {
    width: 1024px;
    height: 200px;
}

div.newsletter {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    width: 300px;
    height: 100px;
    text-align: left;
    float: left;
}

div.footerlinks {
    padding-top: 10px;
    width: 300px;
    height: 100px;
    text-align: left;
    float: left;
}

div.footernetworks {
    padding-top: 10px;
    padding-left: 30px;
    width: 300px;
    height: 100px;
    text-align: left;
    float: left;
}

div.columnleft {
    width: 150px;
    float: left;
    text-align: left;
}

div.columnright {
    padding-left: 5px;
    width: 145px;
    float: right;
    text-align: left;
}

div.footertitle {
    font-size: 15px;
    border-bottom: 3px solid #3366ff;
}

div.footercopyright {
    clear: both;
    width: 1024px;
    font-size: 60%;
    padding-top: 30px;
}

/* Divs for show offer */

div.offertitle {
    width: 100%;
    height: auto;
}

div.companytitle {
    width: 350px;
    float: left;   
    text-align: left;
    height: auto;
    padding: 10px;
}

div.offer {
    width: 620px;
    float: right;
    text-align: left;
    height: auto;
    padding: 10px;
}

div.offercontainer {
    width: 100%;
    height: auto;
}

/*
Notes 
word-wrap: break-word;
is available in IE7+, FF 3.5 and Webkit enabled browsers (Safari/Chrome etc).
To handle IE6 also need to declare word-wrap: break-all;
*/
div.companyinfo {
    width: 350px;
    float: left;
    margin: auto;
    min-height: 20em;
    height: auto;
    padding: 10px;
    background: #ffffcc;
    word-wrap: break-word;
    border:1px solid #CCCCCC;
}

div.companytext {
    width: 300px;
    padding: 20px;
    height: auto;
    text-align: left;
}

div#map {
    min-height: 300px;
    padding: 20px;
    height: auto;
    text-align: left;
}

div.offerinfo {
    width: 640px;
    float: right;
    text-align: left;
    height: auto;
}

div.info {
    background: #99ff99;
    border:1px solid #CCCCCC;
    padding: 10px;
    min-height: 20em;
    height: auto;
}

div.tags {
    background: #ff9933;
    border:1px solid #CCCCCC;
    padding: 10px;
    margin-top: 10px;
    height: auto;
}

div.spreadword {
    background: #5f6d76;
    border:1px solid #CCCCCC;
    padding: 10px;
    margin-top: 10px;
    height: 90px;
}

div.datebox {
    margin-top: 10px;
    width: 100%;
    height: 20px;
    clear: both;
    font-size: 11px;
    border:1px solid #CCCCCC;
    background: #FFFFFF;
}

div.createdat {
    width: 500px;
    float: left;
    text-align: left;
    padding: 3px;
}

div.updatedat {
    width: 500px;
    float: right;
    text-align: right;
    padding: 3px;
}

div.backandprint {
    width: 100% 
}

div.back {
    width: 500px;
    text-align: left;
    float: left;
}

div.print {
    width: 500px;
    text-align: right;
    float: right;
}

/* Divs for static pages */

div.contactusleft {
    width: 500px;
    text-align: left;
    float: left;
}

div.contactusright {
    width: 500px;
    text-align: left;
    float: right;
    padding-left: 20px;
}

p.about {
    width: 600px;
    text-align: left;
    margin: auto;
}

.faq {
    width: 500px;
    text-align: left;
    margin: auto;
}

.business {
    width: 800px;
    text-align: left;
    margin: auto;
}

div.terms {
    width: 800px;
    margin: auto;
}

div.terms textarea {
    width: 100%;
}

/* Divs for twitter */

#twitter_container {
    width: 700px;
    background: url("/images/bubble.png") no-repeat;
    height: 70px;
    margin-left: 251px;
}

#twitter_update_list {
    width: 700px;
    height: 60px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 12px;
    font-style: italic;
    color: #31353d;
    font-family: Georgia;
    font-weight: bold;
    text-align: left;
}

#twitter_update_list a {
    color: #5f6d76;
    border-bottom: dotted 1px;
    text-decoration: none;
}

#twitter_update_list a:hover {
    color: #31353d;
}

#twitter_bottom {
    display: block;
    width: 700px;
    height: 30px;
    background: url("/images/twitterfollow.png") no-repeat;
}

/* CSS for Addthis alignment */
.addthis_button_facebook_like {
    margin-top: 1px;
    margin-right: 2px;
}
.addthis_button_tweet {
    margin-left: 2px;
    margin-right: 2px;
}

.fbshare {
    display:block;
    margin-left: 10px;
    margin-right: 10px;
}

.fb_share_count_nub_top {
    background: url("/images/fbbubble.png") no-repeat !important;
}

/* CSS for links */
a { color: #666666; text-decoration: none;}
a:visited { color: #666666; }
div.header a:hover { color: #fff; text-decoration: underline; }
div.footer a {color: #FFFFFF}
div.footer a:hover {color: #000000; background-color: #FFFFFF;}
a.return {font-size: 11px;}

/* Misc */
.borderless {
    border:0;
}

.center {
    text-align: center;
}

.small {
    font-size: 12px;
}

a.linkarea{display: block; width: 100%; height: 100%; text-decoration: none;}

.postlisting {
   border-collapse:collapse;
   font-size: 14px;
   text-align: left;
   margin: auto;
}

.userlisting {
   border-collapse:collapse;
   font-size: 11px;
   text-align: left;
   margin: auto;
   width: 100%
}

.emaillisting {
   width: 60%;
   border-collapse:collapse;
   font-size: 14px;
   text-align: left;
   margin: auto;
}

td {
   padding: 2px 4px;
}

tr {
   border: 2px solid #666;
   margin-bottom: 3px;
}

/*
Containing floats patch works in all browsers
<div id="container">
<div id="float">
</div>
<div class="clear"></div>
</div>
*/
.clear {
	clear:both;
	line-height:0;
	height:0;
	font-size:0; /* kills IE6 bug */
}

/* Error pages */

div.dialog {
  width: 25em;
  padding: 0 4em;
  margin: 4em auto 0 auto;
  border: 1px solid #ccc;
  border-right-color: #999;
  border-bottom-color: #999;
  background: #FFFFFF;
}
h1.error { font-size: 100%; color: #f00; line-height: 1.5em; }

