/*
    Document   : scaffold
    Created on : 13 March 2011, 19:17:49
    Author     : Stephen Law
    Description:
        Default rails stylesheet, handles error checking and body.
*/

body {
    background: #b0d8f9;
    color: #333333;
    font-family: verdana, arial, helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    /*background: url(../images/bg.jpg) 50% 0  no-repeat;*/
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

form.new_post, form.edit_post {
    width: 650px;
    margin: 0 auto;
}

label {
    display: block;
    margin-left: 15px;
    width: 5em;
    float: left;
    text-align: left;
    white-space: nowrap;
}

input {
    width: 400px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

input#email_email {
    width: 300px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

#post_submit {
    width: 100px;
}

#email_submit {
    width: 100px;
}

textarea {
    width: 400px;
    font-size: 12px;
    font-family: verdana, arial, helvetica, sans-serif;
}

div.field, div.actions {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

#notice {
    color: green;
}

.field_with_errors {
    padding: 2px;
    background-color: red;
    width: 550px;
}

#error_explanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#error_explanation h2 {
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}

#error_explanation ul li {
    text-align: center;
    font-size: 12px;
    color: #000000;
    list-style: square;
}
