/*
    Document   : newCascadeStyleSheet
    Created on : 14 March 2011, 20:51:18
    Author     : Stephen Law
    Description:
        Divs, Links and Misc Styles.
*/

/* CSS for divs in order of appearance */
div {
    display: block;
    margin: 0 auto;
}

/* Nav + Banner Div height = header height */
div.header {
    width: 100%;
    height: 230px;
    background: #153766 url(../images/navbg.jpg) repeat-x;
}

div.logo {
    float: left;
}

div.nav {
    width: 1024px;
    height: 80px;
}

div.socialbox {
    width: 320px;
    height: 80px;
    padding-top: 10px;
    text-align: left;
    float: left;
}

div.links {
    width: auto;
    height: 80px;
    color: #FFFFFF;
    text-align: right;
    padding-top: 10px;
}

div.banner {
    width: 1024px;
    height: 150px;
    color: #FFFFFF;
    text-align: left;
}

div#fbarrow {
    width: 700px;
    background: url("/images/likeus.png") no-repeat;
    height: 50px;
    margin-left: 240px;
}

div.searchbg {
    width: 100%;
    background: #ffffff;
}

div.search {
    width: 1024px;
    height: 50px;
}

div.container {
    width: 1024px;
    min-height: 40em;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.footer {
    width: 100%;
    height: 200px;
    background: #000000;
    color: #FFFFFF;
    border-top: 3px solid #CCCCCC;
}

div.footercontainer {
    width: 1024px;
    height: 200px;
}

div.newsletter {
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
    width: 300px;
    height: 100px;
    text-align: left;
    float: left;
}

div.footerlinks {
    padding-top: 10px;
    width: 300px;
    height: 100px;
    text-align: left;
    float: left;
}

div.footernetworks {
    padding-top: 10px;
    padding-left: 30px;
    width: 300px;
    height: 100px;
    text-align: left;
    float: left;
}

div.columnleft {
    width: 150px;
    float: left;
    text-align: left;
}

div.columnright {
    padding-left: 5px;
    width: 145px;
    float: right;
    text-align: left;
}

div.footertitle {
    font-size: 15px;
    border-bottom: 3px solid #3366ff;
}

div.footercopyright {
    clear: both;
    width: 1024px;
    font-size: 60%;
    padding-top: 30px;
}

/* Divs for show offer */

div.companyinfo {
    width: 300px;
    float: left;
    text-align: left;
    min-height: 30em;
    height: auto;
    border-right:1px solid #FFFFFF;
}

div.offerinfo {
    margin-left: 320px;
    text-align: left;
    min-height: 30em;
    height: auto;
    border-left:1px solid #FFFFFF;
}

/*
Divs for listing users
word-wrap: break-word;
is available in IE7+, FF 3.5 and Webkit enabled browsers (Safari/Chrome etc).
To handle IE6 also need to declare word-wrap: break-all;
*/

div.users {
    width: 100%;
    text-align: left;
    word-wrap: break-word;
}

/* Divs for twitter */

#twitter_container {
    width: 700px;
    background: url("/images/bubble.png") no-repeat;
    height: 70px;
    margin-left: 251px;
}

#twitter_update_list {
    width: 700px;
    height: 60px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    font-size: 12px;
    font-style: italic;
    color: #31353d;
    font-family: Georgia;
    font-weight: bold;
    text-align: left;
}

#twitter_update_list a {
    color: #5f6d76;
    border-bottom: dotted 1px;
    text-decoration: none;
}

#twitter_update_list a:hover {
    color: #31353d;
}

#twitter_bottom {
    display: block;
    width: 700px;
    height: 30px;
    background: url("/images/twitterfollow.png") no-repeat;
}

/* CSS for links */
a { color: #000; text-decoration: none;}
a:visited { color: #666; }
div.header a:hover { color: #fff; text-decoration: underline; }
div.container a:hover { color: #fff; text-decoration: underline; background-color: #718eff; }
div.footer a {color: #FFFFFF}
div.footer a:hover {color: #000000; background-color: #FFFFFF;}
a.return {font-size: 11px;}

/* Misc */
.borderless {
    border:0;
}

.center {
    text-align: center;
}

.small {
    font-size: 12px;
}

a.linkarea{display: block; width: 100%; height: 100%; text-decoration: none;}
