<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', users_path %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<h1>Edit User</h1>

<%= render 'form' %>
