<div id="notice"><%= notice %></div>

<h1>  About Page </h1>

<h2>Our Goal</h2>
<p class="about">
Hello! So what is Guildford Student Offers all about? Well its pretty simple.
We go and out find the deals so you don’t have to!
And when we have found them, we share them here and on our Facebook page so you can hear about them, and most importantly use them!
<br/><br/>
Browse, select, print, or share to your facebook wall. And you can take the deals anywhere!
<br/><br/>
The more people that connect with us via social networks from "liking" our facebook page, to spreading the news on twitter allows us to get better deals and offers for you!!
<br/><br/>
Thanks
<br/><br/>
Guildford Student Offers!
</p>

<h2>Offers On The Go</h2>
<p class="about">
Watch this space for news on our expansion into new media.
<br/>
We want to be able to provide you with the means to have access to these great offers on the go via your mobile devices with simple money saving apps.
</p>