<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', root_url %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<h1>Contact Us</h1>
<h2>We would love to hear what you have to say.</h2>
<div class="contactusleft">
  <h3>Where we live.</h3>
  <p>
    We live with the very lovely folks at SETSquared, within The Surrey Technology Centre, close to Guildford City Centre and the University of Surrey. If you would like to talk to us, there are many ways you can keep in touch.
  </p>
  <h3>Address</h3>
  <p>
    Guildford Student Offers.<br/>
    iGeolise Ltd.<br/>
    Surrey Technology Centre,<br/>
    40 Occam Road,<br/>
    Guildford,<br/>
    Surrey,<br/>
    GU2 7YG.<br/>
    United Kingdom.<br/>
  </p>
  <p>
    <b>Phone:</b> +44 (0)1483 688081<br/>
    <b>Email:</b> info@guildfordoffers.com<br/>
  </p>
  <h3>Social Networks</h3>
  <p>
    <a href="http://www.facebook.com/guildfordoffers">&#187;Facebook</a><br/>
    <a href="http://twitter.com/guildfordoffers">&#187;Twitter</a><br/>
    <a href="http://www.guildfordoffers.com">&#187;LinkedIn</a><br/>
  </p>
</div>
<div class="contactusright">
  <h3>Where we are on the map</h3>
  <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=40+Occam+Road,+Guildford+GU2+7YG&amp;aq=&amp;sll=51.240256,-0.612634&amp;sspn=0.012346,0.032959&amp;g=40+Occam+Road,+Guildford+GU2+7YG&amp;ie=UTF8&amp;hq=&amp;hnear=40+Occam+Rd,+Guildford+GU2+7,+United+Kingdom&amp;t=h&amp;ll=51.245208,-0.611801&amp;spn=0.018805,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
  <a href="http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=40+Occam+Road,+Guildford+GU2+7YG&amp;aq=&amp;sll=51.240256,-0.612634&amp;sspn=0.012346,0.032959&amp;g=40+Occam+Road,+Guildford+GU2+7YG&amp;ie=UTF8&amp;hq=&amp;hnear=40+Occam+Rd,+Guildford+GU2+7,+United+Kingdom&amp;t=h&amp;ll=51.245208,-0.611801&amp;spn=0.018805,0.036478&amp;z=14&amp;iwloc=A">View Larger Map</a>
</div>


