<h1>FAQ</h1>

<h2 class="faq">How was this site created</h2>
<p class="faq">
  This site was initially based upon word press in its early days. An image of what the site was can seen <a href="/images/oldwordpresssite.JPG">here</a>.
  In late 2010 development of the current site took place as a joint project between iGeolise and Stephen Law a final year computing student at the University Of Surrey. It was built in Ruby On Rails 3 to achieve the features that you see today.
</p>

<h2 class="faq">How can i suggest an offer?</h2>
<p class="faq">
  If you wish to tell us about a specific offer or you would like to see offers from a certain company just send us a message via any of the methods <a href="/contact">here</a>.
</p>

<h2 class="faq">How does "liking", "tweeting", "sharing" etc help get better offers?</h2>
<p class="faq">
  The more people that are seen to be connected to this site allows us to easily approach new or old companies to ask them for offers for you as it shows them that you guys are here ready to try their products and all they need is to show you they exists by putting themselves here.
</p>

<h2 class="faq">I own a business how can I promote my offer here?</h2>
<p class="faq">
  If you represent a business that would like to promote an offer here then we would love to hear form you! Find more information about our business partnerships <a href="/partners">here</a>. Then contact us via the details <a href="/contact">here</a>.
</p>

<h2 class="faq">What is a RSS feed</h2>
<p class="faq">
  An RSS (Rich Site Summary) feed is an XML format that allows for other websites or readers to be able to easily get the latest updates from the site automatically without having to manually visit.
</p>

