<div id="notice"><%= notice %></div>

<h1> Business Partnerships </h1>

<p class="business">
  Here at Guildford Student Offers we are looking to connect students with local businesses by making sure they know about the great offers that are available.
  If you are a business and would like to place an offer, please contact us either on 01483 688081 or e-mail us on info@guildfordoffers.com
</p>

<h2>Terms And Conditions</h2>
<div class="terms">
<textarea rows="10" cols="100">
Guildford Student Offers
ADVERTISER TERMS AND CONDITIONS

1.	THE PARTIES
In these Terms and Conditions;
"Publisher" means iGeolise Limited along with its websites www.guildfordstudentoffers.com , and www.iGeolise.com (the "Websites") and all pages built and maintained by the Publisher within websites owned independently of the publisher through which advertisements are shared. iGeolise Limited is a company registered in England and Wales under company registration number 6975940 and whose principal office is Surrey Technology Centre, 40, Occam Road, Surrey Research Park, Guildford Surrey GU27YG.
"Advertiser" means the person placing the order with the Publisher for the publication of the Advertisement (including, but not limited to, the Advertiser’s agent or media buyer).
 "Advertisement" means any kind of promotional or advertising material that is to be published or otherwise displayed by the Publisher.
"Order Form" shall mean the order form signed by the Advertiser and in which specific details of the order and the Advertisement are set out.

2.	ADVERTISEMENTS
2.1.	 All Advertisements accepted for publication by the Publisher are accepted subject to these Terms and Conditions which shall apply to the exclusion of all other terms and conditions (including any which the Advertiser purports to apply under any order form, confirmation of order, specification or other document). The Publisher may amend these Terms and Conditions at any time. Any variation to these Terms and Conditions shall be notified to the Advertiser through the Websites and the amended version shall be made available on the Websites.
2.2.	 All Advertisements are accepted subject to the Publisher’s approval of the advertising insertion (the "Copy") and to the required space being available. In its sole discretion the Publisher can reject Advertisement copy that it deems inappropriate for the Publisher’s sites or users, or can require the Advertiser amend to the copy. In the event that the copy is to be amended, the cost of such amendment is to be borne by the Advertiser.
2.3.	Unless the Advertiser indicates in writing to the Publisher that it does not wish for the Advertisement and/or Copy to be published in any place other than as expressly specified on the Order Form, the Publisher shall be entitled at its sole discretion to publish the Advertisement and/or Copy on all and any of the Websites and on the websites of the Publisher's partners and associated companies.
2.4.	All Copy shall be submitted by the Advertiser by the specified copy date, and in the form, both as stipulated to the Advertiser by the Publisher and otherwise in accordance with the Publisher’s instructions from time to time. Unless the Publisher receives the Copy in the proper form and as per the Publisher’s instructions, or if the Publisher is required to perform additional production work as a result of the Advertiser's failure to conform to the Publisher’s requirements and/or instructions, the Publisher (in its absolute discretion) reserves the right (a) to make additional charges to the Advertiser for the cost of any such production work or (b) to treat the Advertiser as having cancelled the Advertisement and as having forfeited any sum paid by the Advertiser in respect of that cancelled Advertisement.
2.5.	The particular publication date of an Advertisement shall be at the sole discretion of the Publisher and time shall not be of the essence as regards the publication date.
2.6.	 The Publisher may suspend the Website at any time and for any reason whatsoever, including but not limited to repairs, planned maintenance or upgrades, and shall not be liable for such suspension.
2.7.	The Publisher shall have no responsibility if the Advertisement is not published on the agreed date as a result of strike, lock-out, fire, storm, flood, riot, explosion, power failure, break-down or failure of systems or machinery or any other event beyond the Publisher’s reasonable control.
2.8.	The Publisher reserves the right to make any changes to the website, or to discontinue any aspect or feature of the site without notice.
2.9.	The Advertiser’s property, artwork and any other such items are held by the Publisher at the Advertiser’s risk and should be insured by the Advertiser against loss or damage from whatever cause. The Publisher reserves the right to destroy all such property, artwork and/or other items which have been in its possession for more than six months. Additionally, the Publisher reserves the right to retain all such property, artwork and/or other items until the Advertiser's account has been settled in full in accordance with paragraph 5.
2.10.	All reasonable care will be taken to avoid mistakes but the Publisher does not accept liability for any errors or omissions due to the acts or defaults of third parties or sub-contractors or due to inaccurate or ambiguous Copy, or Copy instructions, or due to any other acts, circumstances or defaults beyond its reasonable control. The Publisher shall not be liable for any errors or omissions in the Advertisement unless the proof is returned in reasonable time for corrections to be made before the date on which the relevant publication is finalised (which, for, the avoidance of doubt, shall not be less than seven (7) days prior to such date).
2.11.	Complaints regarding the reproduction of Advertisements must be received by the Publisher in writing within seven (7) days of the date of publication.
2.12.	For the avoidance of doubt, the Advertiser shall bear all of the costs in respect of producing and delivery of the Copy to the Publisher.

3.	TERM AND TERMINATION
3.1.	The Contract (as defined in paragraph 7.1) shall commence on the date set out on the Order Form (the "Start Date") and shall continue for the period of time set out on the Order Form.
3.2.	The Publisher reserves the right to omit, suspend or exclude an Advertisement, visual or Copy at any time for good reason (including, for the avoidance of doubt, to ensure compliance with paragraph 6.2 of these Terms and Conditions); and any such omission, suspension or exclusion shall be notified to the Advertiser as soon as possible. If the Publisher exercises its rights under this paragraph at any time, the Publisher shall not be liable for costs, claims, liabilities or damages of any kind as a consequence of so doing.
3.3.	Without prejudice to the generality of the foregoing, the Publisher reserves the right to cancel any Advertisement and/or terminate the relevant Contract without liability in the event of becoming aware of any meetings of creditors, bankruptcy, liquidation proceedings, the appointment of a receiver or administrative receiver, over the whole or a substantial part of Advertiser’s assets, or any indication whatsoever that the Advertiser is unable to pay its debts as and when they fall due.
3.4.	Notice of cancellation or suspension of an Advertisement must be received in writing by the Publisher no later than seven (7) days after the date on which the Order Form is accepted by the Publisher and not less than seven (7) days prior to the relevant date of publication on any one of the Websites. In the event that the relevant date of publication is less than seven (7) days from the date the Order Form is accepted by the Publisher, any such subsequent cancellation or suspension in respect of an Advertisement and received by the Publisher shall be accepted or rejected at the sole discretion of the Publisher acting reasonably.


4.	DELIVERY OF ADVERTISEMENT SERVICES
4.1.	The Advertiser and the Publisher agree that a person downloading an Advertisement via any one of the Websites (the "User") will have the right to demand and receive from the Advertiser the goods and/or services as detailed on the Advertisement and subject to the terms and conditions as set out on the relevant Website.
4.2.	For the avoidance of doubt, the Advertiser shall be solely responsible to provide the goods and/or services to the User.
4.3.	The Advertiser warrants that the goods and/or services shall be available for the duration of the Effective Period and until the expiry of the Advertisement.

5.	PAYMENT
5.1.	The Advertiser shall pay the Publisher at the rate as set out in the relevant Order Form (the "Payment").
5.1.1.	Payment shall be made in advance of the Advertisement being displayed by the Publisher.
5.1.2.	Where the advertisement is to be displayed for more than 4 weeks, then a minimum of 4 weeks payment in advance shall be paid by the Advertiser to the Publisher.
5.1.3.	On request, and at the Publisher’s sole discretion, the Advertiser and the Publisher may agreed terms of credit, details of which will be confirmed in writing by the Publisher to the Advertiser before the specified start date for display of the Advertisement.
5.2.	Payments are inclusive of applicable Value Added Tax ("VAT").


6.	WARRANTY/INDEMNITY
6.1.	 The Advertiser warrants that: (a) it is a commercial (as opposed to a consumer) entity; and (b) if any change affecting the Advertiser (or its operations) could have an effect on the operation of the Contract, the Advertiser shall inform the Publisher in writing of that change immediately.
6.2.	 The Advertiser warrants and represents that the Advertiser and/or the Advertisement (as applicable); (a) does not contravene any law, statute or regulations in the United Kingdom and/or in any other country where the Advertisement might appear as a result of its publication by the Publisher (including, for the avoidance of doubt, the Financial Services and Markets Act 2000, the Race Relations Act 1976 (as amended), the Sex Discrimination Act 1976 (as amended), the Disability Discrimination Act 1995 (as amended), and the Employment Equality (Age) Regulations 2006); (b) is not in any way defamatory or illegal or an infringement of the rights of any third party (including the use by the Advertiser in any Advertisement of the name or pictorial representation, whether photographic or otherwise, of any living person); and (c) complies in all respects with the British Code of Advertising, Sales Promotion and Direct Marketing and any other relevant advertising standards prevailing (in the United Kingdom and/or in any other country where the Advertisement might appear as a result of its publication by the Publisher) at the time the Advertisement is published.
6.3.	 The Publisher warrants that it will undertake its obligations with reasonable skill and care.
6.4.	The Advertiser shall indemnify and hold harmless the Publisher (and its directors, officers, agents, representatives and employees) from and against any and all claims, suits, liabilities, judgements, losses and damages arising out of or in connection with any claim or suit or demand: (a) by a User (or any party on whose behalf a User has been acting); (b) in respect of, arising out of, or in connection with any goods and/or services actually or purportedly offered in respect of or connection to an Advertisement); (c) in respect of, arising out of, or in connection with an Advertisement; or (d) by HM Revenue and Customs, in respect of or connected to the collection or payment of VAT in any way connected to the Contract.

7.	LEGALS
7.1.	These Terms and Conditions, together with any Order Form entered into, constitute the entire agreement between the Advertiser and the Publisher (the "Contract").
7.2.	If any provision of the Contract is or becomes invalid, illegal or void, that shall not affect the validity and legality of the other provisions.
7.3.	None of the provisions of the Contract are intended to confer a benefit on or be enforceable by any third party under the Contracts (Rights of Third Parties) Act 1999 or otherwise.
7.4.	The Contract, and any other agreement or arrangement entered into pursuant to it, shall be held in confidence between the Publisher and Advertiser, and may only be disclosed with the express written agreement of the Publisher or to meet a legal or regulatory requirement.
7.5.	 The Publisher does not exclude or limit liability for any liability that cannot be excluded by law (including, for the avoidance of doubt, any liability in respect of death, personal injury, fraud or fraudulent misrepresentation). Subject to the preceding sentence, the Publisher shall not be under any liability (whether or not damage or loss is direct, indirect, consequential, foreseeable, known or otherwise) for: (a) loss of actual or anticipated profits; (b) loss of goodwill; (c) loss of business; (d) loss of revenue or of the use of money; (e) loss of contracts; or (f) loss of anticipated savings; (g) loss of data and/or undertaking the restoration of data.
7.5.1.	 Liability includes breach of contract, negligence (as defined in s.1(1) Unfair Contract Terms Act 1977), misrepresentation, tortuous claim, restitution or any other cause or action whatsoever relating to or arising under or in connection with the Contract, including liability expressly provided for under the Contract or arising by reason of the invalidity or unenforceability of any term of the Contract.
7.6.	 None of the rights or obligations in the Contract may be assigned or transferred to any other person without the written consent of the Publisher.
7.7.	The Contract shall be governed and construed in accordance with the laws of England and Wales and the Advertiser submits to the exclusive jurisdiction of the courts of England and Wales in connection with all disputes, claims or actions arising out of or in connection therewith.

</textarea>
<br/>
<a href="/docs/Guildford Student Offers Advertiser T&C.docx">Download the T&amp;C's in Word2007 Format</a><br/>
<a href="/docs/Guildford Student Offers Advertiser T&C.pdf">Download the T&amp;C's in PDF Format</a><br/>
</div>