<div class="dialog">
    <h1 class="error">The page you were looking for doesn't exist.</h1>
    <div><%= @exception %></div>
    <p>You may have mistyped the address or the page may have moved.</p>
</div>
