<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', :control %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<h1>Editing Offer Post</h1>

<%= render 'form' %>

<br/>
<p>Warning destroying this record is permanent.</p>
<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>