<h1>Editing post</h1>

<%= link_to 'Back', post_path %>
<%= render 'form' %>

<br/>
<p>Warning destroying this record is permanent.</p>
<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>