<div id="notice"><%= notice %></div>

<h1>Editing email</h1>
<%= render 'form' %>
<p>Warning destroying this record is permanent.</p>
<%= link_to 'Destroy', @email, :confirm => 'Are you sure?', :method => :delete %>
