<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', root_url %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<h1>Subscribe To Newsletter</h1>

The best student offers delivered straight to your inbox.<br/>
Enter your email address to recieve newsletters and updates on the best offers.<br/>

<%= render 'form' %>
