<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', emails_path %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<p>
  <b>Email:</b>
  <%= @email.email %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %>
