<div class="backandprint noprint">
  <div class="back">
    <%= link_to 'Back', root_url %>
  </div>
  <div class="clear"></div>
</div>

<div id="notice"><%= notice %></div>

<h1>Login</h1>

<%= render 'form' %>

<%= link_to 'Back', root_url %>
