  <div class="footer">
    <div class="footercontainer">
      <a class="return noprint" href='#top'>Return to Top of Page</a>
    <br/>
    <div class="footernetworks noprint">
      <div class="footertitle">
        Our Network
      </div>
      <span class="small">
      Feel free to stalk us on one or more social networks. We would love to hear what you think!
      </span>
      <hr/>
      <a href="http://www.facebook.com/guildfordoffers">&#187;Facebook</a><br/>
      <hr/>
      <a href="http://twitter.com/guildfordoffers">&#187;Twitter</a><br/>
      <hr/>
    </div>
    <div class="newsletter noprint">
      <div class="footertitle">
        Newsletter
      </div>
      The best student offers delivered straight to your inbox.
      Enter your email address to recieve newsletters and updates on the best offers.
      <br/>
      <%= render 'emails/formmini' %>
    </div>
    <div class="footerlinks noprint">
      <div class="footertitle">
        Places
      </div>
      <%= link_to '&#187;Home'.html_safe, root_url%><br/>
      <hr/>
      <a href="/partners">&#187;Want To Advertise Here?</a><br/>
      <hr/>
      <a href="/faq">&#187;FAQ</a><br/>
      <hr/>
      <a href="/contact">&#187;Contact</a><br/>
      <hr/>
      <a href="/about">&#187;About</a><br/>
      <hr/>
    </div>
    <div class="footercopyright">
      Copyright &#169; 2010 - 2011 | <a href="http://www.stephenlaw.co.uk" target="_blank">A Stephen Law Production</a> | All Rights Reserved <br/>
      <a href="http://www.igeolise.com/" target="_blank">Powered by iGeolise Ltd</a>
    </div>
    </div>
  </div>